.version.noticias /* version checker */
{
	color: #00000B;
	background-color: #A20A28;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.8499999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -44px;
}

#u173
{
	z-index: 216;
	padding-bottom: 5px;
}

#u173_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u267
{
	z-index: 217;
	width: 247px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 100px;
}

#ppu1082-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 404px;
}

#pu1082-4
{
	width: 0.01px;
}

#u1082-4
{
	z-index: 296;
	width: 146px;
	margin-right: -10000px;
}

#u907
{
	z-index: 289;
	width: 318px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 323px;
}

#u280
{
	z-index: 290;
	width: 256px;
	margin-right: -10000px;
}

#u468
{
	z-index: 292;
	width: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 268px;
}

#u470
{
	z-index: 294;
	width: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 298px;
}

#u279
{
	z-index: 219;
	width: 614px;
	margin-left: 32px;
	margin-top: 20px;
}

#u266-4
{
	z-index: 220;
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
}

#u273-4
{
	z-index: 230;
	width: 82px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 90px;
}

#u274-4
{
	z-index: 234;
	width: 87px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 182px;
}

#u275-4
{
	z-index: 238;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 284px;
}

#u276-4
{
	z-index: 242;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 368px;
}

#u277-6
{
	z-index: 224;
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 448px;
}

#u278-4
{
	z-index: 246;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 545px;
}

#u173-bw
{
	z-index: 216;
	height: 108px;
}

#pu232
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -113px;
}

#pu232_position_content
{
	margin-bottom: -53px;
	padding-top: 112px;
}

#u232
{
	z-index: 178;
	height: 59px;
	top: 0px;
}

#u232-bw
{
	z-index: 178;
}

#u230
{
	z-index: 176;
	width: 1075px;
	top: 0px;
	left: 50%;
	margin-left: -537px;
}

#u230_clip
{
	width: 1075px;
	height: 11px;
}

#u230_img
{
	margin-left: -34px;
	margin-right: -28px;
}

#u170
{
	z-index: 174;
	width: 990px;
	top: 0px;
	left: 50%;
	margin-left: -495px;
}

#u240
{
	z-index: 214;
	width: 990px;
	top: 5px;
	left: 50%;
	margin-left: -496px;
}

#u170_clip,#u240_clip
{
	width: 990px;
	height: 10px;
}

#u170_img,#u240_img
{
	margin-right: -25px;
}

#u233
{
	z-index: 179;
	width: 943px;
	padding-bottom: 49px;
	top: 10px;
	left: 50%;
	margin-left: -473px;
}

#u257-4
{
	z-index: 190;
	width: 63px;
	min-height: 21px;
	top: 26px;
	left: 50%;
	margin-left: -473px;
}

#u257-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -473px;
}

#u257-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -473px;
}

#u256-4
{
	z-index: 182;
	width: 85px;
	min-height: 31px;
	top: 15px;
	left: 50%;
	margin-left: -379px;
}

#u256-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px 0px 0px -379px;
}

#u256-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px 0px 0px -379px;
}

#u259-4
{
	z-index: 194;
	width: 91px;
	min-height: 21px;
	top: 24px;
	left: 50%;
	margin-left: -263px;
}

#u259-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -263px;
}

#u259-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -263px;
}

#u260-4
{
	z-index: 198;
	width: 96px;
	min-height: 21px;
	top: 24px;
	left: 50%;
	margin-left: -143px;
}

#u260-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -143px;
}

#u260-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px -143px;
}

#u236
{
	z-index: 180;
	width: 57px;
	top: 10px;
	left: 50%;
	margin-left: -28px;
}

#u236_img
{
	padding-left: 5px;
	padding-right: 6px;
	padding-bottom: 3px;
}

#u261-4
{
	z-index: 202;
	width: 84px;
	min-height: 21px;
	top: 24px;
	left: 50%;
	margin-left: 47px;
}

#u261-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 47px;
}

#u261-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 47px;
}

#u262-4
{
	z-index: 206;
	width: 81px;
	min-height: 21px;
	top: 24px;
	left: 50%;
	margin-left: 171px;
}

#u262-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 171px;
}

#u262-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 171px;
}

#u264-4
{
	z-index: 186;
	width: 85px;
	min-height: 31px;
	top: 15px;
	left: 50%;
	margin-left: 278px;
}

#u264-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 31px;
	margin: 0px 0px 0px 278px;
}

#u263-4
{
	z-index: 210;
	width: 81px;
	min-height: 21px;
	top: 24px;
	left: 50%;
	margin-left: 389px;
}

#u263-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 389px;
}

#u263-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px 0px 0px 389px;
}

#pu1458
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1458
{
	z-index: 5;
	height: 465px;
	border-color: #000000;
	background: #FFFFFF url("../images/noticias.jpg") no-repeat center center;
}

#u1458-bw
{
	z-index: 5;
	height: 465px;
}

#u1466
{
	z-index: 6;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(top,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to bottom,#FFFFFF ,rgba(255, 255, 255, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#00FFFFFF, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#00FFFFFF', GradientType=0)";
	border-color: #000000;
	padding-bottom: 389px;
}

#u1466_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1459-4
{
	z-index: 7;
	width: 332px;
	min-height: 45px;
	background-color: transparent;
	color: #00289C;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 414px;
}

#u1466-bw
{
	z-index: 6;
	height: 76px;
}

#pu1467
{
	width: 0.01px;
	margin-top: 69px;
}

#u1467
{
	z-index: 11;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1468
{
	z-index: 21;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1470-4
{
	z-index: 12;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1471
{
	z-index: 16;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1471:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1472-4
{
	z-index: 17;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1471:hover #u1472-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1471:hover #u1472-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1477
{
	z-index: 83;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1481
{
	z-index: 93;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1478-4
{
	z-index: 84;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1479
{
	z-index: 88;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1479:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1480-4
{
	z-index: 89;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1471.ButtonSelected #u1472-4,#buttonu1479:hover #u1480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1479:hover #u1480-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1491
{
	z-index: 35;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1495
{
	z-index: 45;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1492-4
{
	z-index: 36;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1493
{
	z-index: 40;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1493:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1494-4
{
	z-index: 41;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1479.ButtonSelected #u1480-4,#buttonu1493:hover #u1494-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1493:hover #u1494-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1484
{
	z-index: 107;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1488
{
	z-index: 117;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1487-4
{
	z-index: 108;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1485
{
	z-index: 112;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1485:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1486-4
{
	z-index: 113;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1493.ButtonSelected #u1494-4,#buttonu1485:hover #u1486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1485:hover #u1486-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1505
{
	z-index: 59;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1508
{
	z-index: 69;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1510-4
{
	z-index: 60;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1506
{
	z-index: 64;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1506:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1507-4
{
	z-index: 65;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1485.ButtonSelected #u1486-4,#buttonu1506:hover #u1507-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1506:hover #u1507-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1498
{
	z-index: 131;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1501
{
	z-index: 141;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1503-4
{
	z-index: 132;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1499
{
	z-index: 136;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1499:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1500-4
{
	z-index: 137;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1506.ButtonSelected #u1507-4,#buttonu1499:hover #u1500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1499:hover #u1500-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1547
{
	z-index: 23;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1551
{
	z-index: 33;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1548-4
{
	z-index: 24;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1549
{
	z-index: 28;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1549:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1550-4
{
	z-index: 29;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1499.ButtonSelected #u1500-4,#buttonu1549:hover #u1550-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1549:hover #u1550-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1540
{
	z-index: 95;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1544
{
	z-index: 105;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1543-4
{
	z-index: 96;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1541
{
	z-index: 100;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1541:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1542-4
{
	z-index: 101;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1549.ButtonSelected #u1550-4,#buttonu1541:hover #u1542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1541:hover #u1542-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1526
{
	z-index: 47;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1529
{
	z-index: 57;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1531-4
{
	z-index: 48;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1527
{
	z-index: 52;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1527:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1528-4
{
	z-index: 53;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1541.ButtonSelected #u1542-4,#buttonu1527:hover #u1528-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1527:hover #u1528-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1519
{
	z-index: 119;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1522
{
	z-index: 129;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1524-4
{
	z-index: 120;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1520
{
	z-index: 124;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1520:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1521-4
{
	z-index: 125;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1527.ButtonSelected #u1528-4,#buttonu1520:hover #u1521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1520:hover #u1521-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1491,#pu1505,#pu1547,#pu1526,#pu1533
{
	width: 0.01px;
	margin-top: 56px;
}

#u1533
{
	z-index: 71;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1536
{
	z-index: 81;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1538-4
{
	z-index: 72;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1534
{
	z-index: 76;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1534:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#u1535-4
{
	z-index: 77;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1520.ButtonSelected #u1521-4,#buttonu1534:hover #u1535-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1534:hover #u1535-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1512
{
	z-index: 143;
	width: 452px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u1514
{
	z-index: 153;
	width: 143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1470-4,#pu1478-4,#pu1492-4,#pu1487-4,#pu1510-4,#pu1503-4,#pu1548-4,#pu1543-4,#pu1531-4,#pu1524-4,#pu1538-4,#pu1513-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 161px;
}

#u1513-4
{
	z-index: 144;
	width: 291px;
	min-height: 83px;
	background-color: transparent;
	color: #313131;
	font-size: 15px;
	line-height: 18px;
	text-align: justify;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu1516
{
	z-index: 148;
	width: 72px;
	border-color: #787878;
	background-color: #89DAE1;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	margin-left: 219px;
	margin-top: 28px;
	position: relative;
}

#buttonu1516:hover
{
	background-color: #545454;
	margin: 28px 0px 0px 219px;
}

#buttonu1471.ButtonSelected,#buttonu1479.ButtonSelected,#buttonu1493.ButtonSelected,#buttonu1485.ButtonSelected,#buttonu1506.ButtonSelected,#buttonu1499.ButtonSelected,#buttonu1549.ButtonSelected,#buttonu1541.ButtonSelected,#buttonu1527.ButtonSelected,#buttonu1520.ButtonSelected,#buttonu1534.ButtonSelected,#buttonu1516.ButtonSelected
{
	background-color: #89DAE1;
	margin: 28px 0px 0px 219px;
}

#u1517-4
{
	z-index: 149;
	width: 72px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#buttonu1534.ButtonSelected #u1535-4,#buttonu1516:hover #u1517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1516:hover #u1517-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pu1554-4
{
	width: 0.01px;
	margin-left: 230px;
	margin-top: 72px;
}

#u1554-4
{
	z-index: 155;
	width: 500px;
	min-height: 80px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#buttonu1555
{
	z-index: 159;
	width: 23px;
	border-color: #787878;
	background-color: #112D80;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 207px;
}

#buttonu1555:hover
{
	background-color: #545454;
	margin: 36px -10000px 0px 0px;
}

#u1556-4
{
	z-index: 160;
	width: 15px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#buttonu1516.ButtonSelected #u1517-4,#buttonu1555:hover #u1556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1555:hover #u1556-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1557
{
	z-index: 164;
	width: 23px;
	border-color: #787878;
	background-color: #112D80;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 238px;
}

#buttonu1557:hover
{
	background-color: #545454;
	margin: 36px -10000px 0px 0px;
}

#u1558-4
{
	z-index: 165;
	width: 15px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#buttonu1555.ButtonSelected #u1556-4,#buttonu1557:hover #u1558-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1557:hover #u1558-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1559
{
	z-index: 169;
	width: 23px;
	border-color: #787878;
	background-color: #112D80;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	-khtml-border-radius: 50px;
	border-radius: 50px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 269px;
}

#buttonu1559:hover
{
	background-color: #545454;
	margin: 36px -10000px 0px 0px;
}

#buttonu1555.ButtonSelected,#buttonu1557.ButtonSelected,#buttonu1559.ButtonSelected
{
	background-color: #112D80;
	margin: 36px -10000px 0px 0px;
}

#u1560-4
{
	z-index: 170;
	width: 15px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: center;
	font-family: ubuntu-condensed, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#buttonu1557.ButtonSelected #u1558-4,#buttonu1559:hover #u1560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1559.ButtonSelected #u1560-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 5px -10000px 0px 0px;
}

#buttonu1559:hover #u1560-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u417
{
	z-index: 2;
	padding-bottom: 4px;
}

#u417_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	margin-bottom: -1px;
}

#pu898
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 53px;
	margin-left: 113px;
}

#u898
{
	z-index: 250;
	width: 738px;
}

#u901-4
{
	z-index: 251;
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
}

#u904-4
{
	z-index: 261;
	width: 82px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 90px;
}

#u273-4:hover,#u904-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 10px -10000px 0px 0px;
}

#u899-4
{
	z-index: 265;
	width: 87px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 182px;
}

#u900-4
{
	z-index: 269;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 284px;
}

#u905-4
{
	z-index: 273;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 368px;
}

#u902-6
{
	z-index: 255;
	width: 82px;
	min-height: 30px;
	margin-right: -10000px;
	left: 448px;
}

#u266-4:hover,#u277-6:hover,#u901-4:hover,#u902-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px -10000px 0px 0px;
}

#u903-4
{
	z-index: 277;
	width: 69px;
	min-height: 20px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 545px;
}

#u274-4:hover,#u275-4:hover,#u276-4:hover,#u278-4:hover,#u899-4:hover,#u900-4:hover,#u905-4:hover,#u903-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 9px -10000px 0px 0px;
}

#u1303-4
{
	z-index: 281;
	width: 98px;
	min-height: 42px;
	margin-right: -10000px;
	left: 640px;
}

#u1303-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u906-4
{
	z-index: 285;
	width: 217px;
	min-height: 20px;
	margin-left: 359px;
	margin-top: 62px;
}

#u906-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 62px 0px 0px 359px;
}

#u449
{
	z-index: 3;
	width: 161px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 899px;
}

#u417-bw
{
	z-index: 2;
	margin-top: -1px;
	height: 176px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 44px;
}

#page .verticalspacer
{
	clear: both;
}

